@font-face {
  font-family: 'Owners';
  src: 
    url('~assets/fonts/Owners-Normal.woff2') format('woff2'),
    url('~assets/fonts/Owners-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Owners';
  src: 
    url('~assets/fonts/Owners-Narrow.woff2') format('woff2'),
    url('~assets/fonts/Owners-Narrow.woff') format('woff');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Owners';
  src: 
    url('~assets/fonts/Owners-Medium.woff2') format('woff2'),
    url('~assets/fonts/Owners-Medium.woff') format('woff');
  font-weight: 200;
  font-display: swap;
}
  
  /* html {
    font-size: 65%;
  } */
  
  body {
    font-family: 'Owners', sans-serif;
    font-family: arial;
    /* letter-spacing: -.2px; */
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    /* font-size: 10.3px; */
  } 

  @media only screen and (min-width: 2560px) {

  .smaller-text {
    font-size: 1.8rem !important;
    line-height: 1.8rem !important;
}

.lgsctext{
  font-size: 1.8rem !important;
    line-height: 1.8rem !important;
}

.button-container{
  font-size: 1.8rem !important;
    line-height: 1.8rem !important;
}

.button{
  font-size: 1.8rem !important;
    line-height: 1.8rem !important;
}

.lgsctoppad{
  padding-top: 17rem !important;
}

.textppad{
  font-size: 1.8rem !important;
    line-height: 1.8rem !important;
}

.textppad div{
  font-size: 1.8rem !important;
    line-height: 1.8rem !important;
}

.close-button{
  font-size: 1.8rem !important;
    line-height: 1.8rem !important;
}

.headtextlg{
  font-size: 1.8rem !important;
    line-height: 1.8rem !important;
}
}


  